.sidebar-about {
  margin-top: -3rem;
}

.profile-photo {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 48em) {
  .profile-photo {
    margin-left: 0;
    margin-right: 0;
  }
}

.sidebar-icons {
  margin: 1rem 0;
}

.sidebar-icons a {
  display: inline-block;
  margin-right: 0.6rem;
}

.sidebar-icons svg {
  width: 22px;
  height: 22px;
  fill: rgba(255,255,255,.5);
  transition: fill 0.2s;
}

.sidebar-icons a:hover svg {
  fill: #fff;
}

.sidebar-footer {
  font-size: 0.7rem;
  color: rgba(255,255,255,.3);
}

.sidebar-about h1 {
  font-size: 1.75rem;
}
